
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#test {
  color: white;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-weight: bold;
}
.buttons1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: 1rem;
  width: 100px;
  height: 30px;
  background-color:white;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #222;
  display: inline-block;
  font-family: 'nunito', sans-serif;
  font-size: 13px;
  font-weight: 700;
}

button:hover,
button:focus {
  box-shadow: 2px 2px 4px black;
}
